<form id="MovieSearcher" class="MovieSearcher">

  <button id="MovieSearcher_backButton" class="MovieSearcher-button MovieSearcher-button--secondary" type="button">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path class="iconFill" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
    </svg>
    <span class="u-srOnly">Back</span>
  </button>

  <label for="MovieSearcher_formControl" class="u-srOnly">Movie to search</label>
  <input id="MovieSearcher_formControl"
    class="MovieSearcher-formControl"
    type="text"
    placeholder="Type your movie here"
  />

  <button class="MovieSearcher-button MovieSearcher-button--primary" type="submit">
    <svg class="MovieSearcher-button--primaryIcon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path class="iconFill" d="M20.84 2.18L16.91 2.96L19.65 6.5L21.62 6.1L20.84 2.18M13.97 3.54L12 3.93L14.75 7.46L16.71 7.07L13.97 3.54M9.07 4.5L7.1 4.91L9.85 8.44L11.81 8.05L9.07 4.5M4.16 5.5L3.18 5.69A2 2 0 0 0 1.61 8.04L2 10L6.9 9.03L4.16 5.5M2 10V20C2 21.11 2.9 22 4 22H20C21.11 22 22 21.11 22 20V10H2Z" />
    </svg>
    <span class="MovieSearcher-button--primaryLabel">Let's Go!!</span>
  </button>
  <button id="MovieSearcher_orderButton" class="MovieSearcher-button MovieSearcher-button--secondary" type="button">
    <svg class="MovieSearcher-button--orderIcon" style="width:24px;height:24px" viewBox="0 0 24 24">
      <path class="iconFill" d="M14,8H11V14H6V8H3L8.5,2L14,8M15.5,22L21,16H18V10H13V16H10L15.5,22Z" />
    </svg>
    <span class="u-srOnly MovieSearcher-button--orderLabel">Toggle order</span>
  </button>

</form>