// general variables
@import './../../../stylesheets/variables.scss';

// variables
$MovieSearcher-mainColor: $App-mainColor;
$MovieSearcher-backgroundColor: #fff;
$MovieSearcher-isHome-backgroundColor: transparent;
$MovieSearcher-button-backgroundColor: darken($MovieSearcher-mainColor, 15%);
$MovieSearcher-button-onHover-backgroundColor: darken($MovieSearcher-mainColor, 25%);
$MovieSearcher-button-textColor: lighten($MovieSearcher-mainColor, 100%);

body {
  &.is-home {
    align-items: center;
    flex-direction: column;
  }
}

.wrapper-MovieSearcher {
  // styles that will be overwritten after the first search
  body:not(.is-home) & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $MovieSearcher-backgroundColor;
    box-shadow: 0 0 5px 2px #333;
  }
}

.MovieSearcher {
  // common styles
  background-color: $MovieSearcher-isHome-backgroundColor;
  .MovieSearcher-formControl {
    line-height: 2em;
    padding: 0.5em;
  }
  .MovieSearcher-button {
    line-height: 2em;
    padding: 0.5em;
    font-family: 'Permanent Marker';
    border-width: 0;
    cursor: pointer;
    &.MovieSearcher-button--primary {
      background-color: $MovieSearcher-button-backgroundColor;
      color: $MovieSearcher-button-textColor;
      &:focus,
      &:hover,
      &:active {
        background-color: $MovieSearcher-button-onHover-backgroundColor;
      }
    }
    &.MovieSearcher-button--secondary {
      display: flex;
      justify-content: center;
      min-width: 3.25em;
      background-color: $MovieSearcher-button-backgroundColor;
      color: $MovieSearcher-button-textColor;
      &:focus,
      &:hover,
      &:active {
        background-color: $MovieSearcher-button-onHover-backgroundColor;
      }
      .iconFill {
        fill: $MovieSearcher-button-textColor;
      }
    }

    // style to rotate the order button
    svg {
      transition: 0.5s transform;
    }
    &.is-flipped svg {
      transform: rotate(180deg);
    }
  }

  // styles that will be overwritten after the first search
  body:not(.is-home) & {
    display: flex;
    .MovieSearcher-formControl {
      flex: 1;
    }
  }

  // styles before the first search has been performed
  .is-home & {
    width: 16.5em;
    margin: 0 auto;
    .MovieSearcher-formControl {
      width: 100%;
      margin: 0 0 0.2em;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
    .MovieSearcher-button {
      width: 100%;
      margin: 0 0 0.2em;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;

      // re-order and back button is hidden before the first search
      &.MovieSearcher-button--secondary {
        display: none;
      }
    }
  }
}
