// Contrast ratio checked in https://contrast-ratio.com/
$App-mainColor: #09f;
$App-mainColor--contrast: #000;
$App-mainFontFamily: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$App-specialFontFamily: 'Permanent Marker', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$App-breakpoint-sm: 50em;