// variables
$MovieGrid-mainColor: #09f;
$MovieGrid-backgroundColor: #fff;

.MovieGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
}
.MovieCard {
  display: flex;
  border-radius: .1em;
  overflow: hidden;
  box-shadow: 0 0 3px 1px #666;
  margin: .2em;
  max-width: 35em;
  height: 17.5em;
  padding: 1em;
  background-color: $MovieGrid-backgroundColor;
}
.MovieCard-imageWrapper {
  width: 150px;
  display: flex;
  border: solid .3em $MovieGrid-backgroundColor;
  box-shadow: 0 0 0 1px $MovieGrid-mainColor;
}
.MovieCard-imageWrapper img {
  width: 100%;
}
.MovieCard-content {
  flex: 1;
  padding: 1em;
}
.MovieCard-content h1 {
  font-size: 1.5rem;
}
.MovieCard-title {
  font-size: 1em;
}
.MovieCard-year {
  font-size: 1rem;
  color: #666;
  font-style: italic;
  margin: 0 1em;
}
.MovieCard-rating {
  margin: 0 .5em;
  font-size: 1.125em;
}